# Dependency directories
/node_modules

# Parcel cache and dist directories
.cache
dist

# Environment variables file
.env
.env.local

# Editor-specific files
.vscode/
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
 
# .parcel-cache directory
.parcel-cache